@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
*{
    font-family: "Playwrite US Modern";
    background-color: rgb(255, 241, 243);
}
.main{
    display: flex;
    justify-content: center;
}
.flower img{
    width: 25px;
}